<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manevra">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Manevra"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manevra">
        <activity
            android:name=".ActivityEditProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityProfile"
            android:exported="false" />
        <activity
            android:name=".ToDoListActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityKronometre"
            android:exported="false" />
        <activity
            android:name=".ActivityAnasayfa"
            android:exported="false" />
        <activity
            android:name=".ActivityUyeOl"
            android:exported="false" />
        <activity
            android:name=".ActivityMain"
            android:exported="false" />
        <activity
            android:name=".ActivityGiris"
            android:exported="false" />
        <activity
            android:name=".ActivityBaslangic"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityKitaplar"
            android:exported="false" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>